{% extends 'base.html' %}

{% block content %}

<h4> <b>Popular Novels</b> </h4>

<!-- Container for the card row -->
<div class="row">
    {% for novel in object_list %}
    <div class="col-md-3 mb-4">
        <div class="card">
            <img src="{{ novel.cover_image.url }}" class="card-img-top" alt="{{ novel.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ novel.title }}</h5>
              <p class="card-text">{{ novel.author }}</p>
              <a href="{% url 'novel_detail' slug=novel.slug %}" class="btn btn-primary">Continue Reading</a>
            </div>
          </div>
    </div>
    {% endfor %}
</div>

<style>
    h4{
        margin-top: 20px;
    }
    /* Container for cards */
    .row {
        margin-top: 30px;
    }

    /* Styling for the cards */
    .card {
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        height: 100%;
       
    }

    /* Image styling */
    .card-img-top {
        height: 100%;
        object-fit: fill;
        width: 100%;
        
       
    }

    /* Card content styling */
    .card-body {
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
    }

    /* Hover effect for card */
    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Button styling */
    .card .btn {
        width: 100%;
        margin-top: 15px;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 30px;
    }

    /* Truncate long text */
    .card-text {
        color: #6c757d;
    }

    /* Ensure cards are responsive */
    @media (max-width: 767px) {
        .card {
            margin-bottom: 20px;
        }
    }
</style>

{% endblock %}
