{% extends 'base.html' %}

{% block content %}

<section id="navbar">


    <div class="navbar">
        <div class="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeTrnzaqks0nyvGvpUoNYAu-YkFG-sCy4QRg&s">
        </div>

        <div class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Genre</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Popular Novels</a></li>
            <li><a href="#">Services</a></li>

        </div>


        <div class="auth">
            <a href="#" class="btn btn-danger">Login</a>
            <a href="#" class="btn btn-success">Sign Up</a>
        </div>



    </div>


    <div class="hero">
        <div class="info">
            <h4>Explore the world of fiction & fantasy </h4>
            <p>A good book is like a good friend: it keeps you company, comforts you, and takes you places you’ve never been."</p>
        </div>

        <div class="search">
            <input type="text" class="search" name="search-bar">
            <a href="#" class="btn btn-primary">search</a>
        </div>
    </div>


</section>


{% endblock %}